<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        Please select month and year to display the expense summary for the desired selection.
        <hr />
        <div class="row">
            <div class="col-md-2">                
                <select [(ngModel)]="month" class="form-select">
                    <option>None</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>                    
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>                              
            </div>
            <div class="col-md-2">                
                <select [(ngModel)]="year" class="form-select">
                    <option>None</option>
                    <option value="2023">2023</option>                    
                </select>  
            </div>        
            <div class="col-md-2">
                <button class="btn btn-primary" (click)="getExpenseSummary()">Get Summary</button>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        TOTAL Expense for Water and Dairy: <b> {{finalAmountPayabale | currency:'INR':'symbol':'1.2-2'}} </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" *ngIf="itemSummaryDataList.length">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Amount Payable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let itemSummary of itemSummaryDataList'>
                        <td>{{itemSummary.item}}</td>
                        <td>{{itemSummary.amountPayabalePerItem | currency:'INR':'symbol':'1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- To do Monthly expenses -->
        <br/>
        <div class="row" *ngIf="itemSummaryDataList.length === 0">
            <div class="col-md-12 alert alert-info">
                <h4 class="alert-heading">Hurray!!</h4>
                 <p>You have no expenses for the selected month.</p>
            </div>
        </div>
    </div>
    <ec-footer></ec-footer>
</div>