<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter"/>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
        </div>
        <hr/>
        <div class="row">
            <ec-date-range-picker (dateRange) = 'getExpenseDataForDateRange($event)'></ec-date-range-picker>
        </div>
        <hr/>        
        <div class="table-responsive">          
            <table class="table" *ngIf='expenseDataList.length'>
                <thead>
                    <tr>
                        <!-- <th>
                            <button class="btn btn-primary" (click)="toggleImage()">
                                {{ showImage ? "Hide" : "Show" }} Image
                            </button>
                        </th> -->
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>Date</th>
                        <th>Comments</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let expenseData of filteredExpenseDataList'>
                        <!-- <td><img *ngIf="showImage" [src]="expenseData.imageUrl" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"></td> -->
                        <td>{{expenseData.item}}</td>
                        <td>{{expenseData.quantity}}</td>
                        <td>{{expenseData.unitPrice | currency:'INR': 'symbol' : '1.2-2' }}</td>
                        <td>{{expenseData.quantity * expenseData.unitPrice | currency:'INR':'symbol':'1.2-2'}}</td>                        
                        <td>{{expenseData.dateOfExpense | date }}</td>
                        <td>{{expenseData.comments}}</td>                        
                    </tr>
                </tbody>
            </table>            
        </div>
        <div class="row" *ngIf="expenseDataList.length === 0">
            <div class="col-md-6">
                Hurray! You have no expenses for the selected date range.
            </div>
        </div>
    </div>
    <ec-footer></ec-footer>
</div>