<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        Please provide the input to record your expenses.
        <hr />
        <div class="row">
            <div class="col-md-2">
                <!-- <ec-datepicker></ec-datepicker> -->
                <mat-form-field>
                    <mat-label>Date of expense</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfExpense">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>            
        </div>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary" (click)="addRow()">Add Row</button>
            </div>          
        </div>
        <br />        
        <div [hidden]="!httpPostResponse" class="alert alert-success alert-dismissible">
            <strong>Success!</strong> Expenses are captured by your expense keeper!           
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="table-responsive" *ngIf="dynamicExpenseArray.length">
                <table class="table">
                    <thead>
                        <tr>                            
                            <!-- <th>Item</th> -->
                            <th>Amount</th>
                            <th>Transaction Type</th>
                            <th>Category</th>
                            <th>Notes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expInput of dynamicExpenseArray; let i = index">                                 
                            <!-- <td><input type="text" name="item[{{i}}]" placeholder="Item" class="form-control" [(ngModel)]="expInput.item"/></td> -->
                            <td><input type="text" name="amount[{{i}}]" placeholder="Amount" class="form-control" [(ngModel)]="expInput.amount"/></td>
                            <td>
                                <select name="transactionType[{{i}}]" class="form-select" [(ngModel)]="expInput.transactionType">
                                    <option selected>None</option>
                                    <option value="Credit Card">Credit Card</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </td>
                            <td>
                                <select name="expenseCategory[{{i}}]" class="form-select" [(ngModel)]="expInput.expenseCategory">
                                    <option selected="None" *ngFor="let category of expenseCategories | async">
                                        {{category}}
                                    </option>
                                    <!-- <option selected>None</option>
                                    <option value="emi">EMI</option>
                                    <option value="groceries">Groceries</option>
                                    <option value="veggies and fruits">Veggies and Fruits</option>
                                    <option value="electricity bill">Electricity Bill</option>
                                    <option value="shopping">Shopping</option>
                                    <option value="fuel">Fuel</option>
                                    <option value="vehicle maintenance">Vehicle Maintenance</option>
                                    <option value="internet/mobile">Internet/Mobile</option>
                                    <option value="maid salary">Maid Salary</option>
                                    <option value="lpg">LPG</option>
                                    <option value="savings">Savings</option>
                                    <option value="personal">Personal</option>
                                    <option value="medical">Medical</option>
                                    <option value="miscellaneous">Miscellaneous</option> -->
                                </select>
                            </td>
                            <td><input type="text" name="notes[{{i}}]" placeholder="Notes" class="form-control" [(ngModel)]="expInput.notes"/></td>
                            <td><button class="btn btn-warning" (click)="deleteRow(i)">Delete Row</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-primary" [disabled]="dynamicExpenseArray.length === 0">Submit Expenses</button>
                </div>
            </div>
            {{form.value | json}}
        </form>       
    </div>
    <ec-footer></ec-footer>
</div>

{{dynamicExpenseArray | json}}